.App {
  text-align: center;
}
#map  {
  height: 100%; 
}

html, 
body {
  height: 100%; 
  margin: 0;
  padding:0;
}

.loadingscreen {
  background-color: #2ada9f69;
}

#floating-panel {
  position: relative; 
  top: 10px;
  left: 0%;
  z-index: 5; 
  border: 1px solid #999; 
  text-align: center; 
}

.location-btn {
  position: relative;
  border: 4px solid #080800

}
