<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default" ></script>
  <title>Travel Modes in Directions </title>
</head>
<body>
  <br>
  <br> 
  <br>
  <div id="map"></div>
  <br>
  <br> 
  <br>
  <div id="floating-panel">
    <div>
      <div>
        <input type="text" id="from" placeholder="Origin">
      </div>
    </div>
    <div>
      <div>
        <input type="text" id="to" placeholder="Destination">
      </div>
    </div>
    <b> Mode of Travel </b>
    <select id="mode">
      <option value="DRIVING"> Driving</option>
      <option value="WALKING"> Walking</option>
      <option value="BICYCLING"> Bicycling</option>
      <option value="TRANSIT"> Transit</option>
    </select>
    <div id="container">
      <div id="map"></div>
      <div id="sidebar">
        <div id="panel"></div>
      </div>
    </div>
  </div> 
 

  <!-- Async script executes immediately and must be after any dom elements using callback  -->

</body>
</html>