#floating-panel {
  background: rgba(255,255,255,0.8);
  border-radius: 8px;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  transition-duration: .3s;
  border: 2px solid white;
  padding: 1em;
  height: 13em;
  width: 20%;
  margin: 1em;
  position: absolute;
  top: 2em;
  left: 75%;
}

#direction-panel {
  display:flex;
  flex-direction: column;
  box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  position: absolute;
  top: 15em;
  width: 20%;
  margin: none;
  background: white;
  left: 80%;
}

#to {
  color: black;

}


#mode-font{
  font-size:10px;
}

.panel-open  #map {
  width: 80%
}

.panel-open  #from {
  width: 23em; 
}

.panel-open  #to {
  width: 23em; 
}

.panel-open  #floating-panel {
  border-bottom: black 2em;
  top: 0.2em;
  height: 6em;
  left: 80%; 

}

#mode-icon {
  padding-right: 1.5em; 
}
#car-icon {
  padding-right: 1.5em; 
  padding-left: 1.5em;
}

